<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="{{ site.linkedin_url }}"><i class="icon fa fa-linkedin-square" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="{{ site.github_url }}"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
		<a aria-label="My StackOverflow" target="_blank" href="{{ site.stackoverflow_url }}"><i class="icon fa fa-stack-overflow" aria-hidden="true"></i></a>
		<a aria-label="My Baeldung Author Profile" target="_blank" href="{{ site.baeldung_url }}"><i class="icon fa fa-leaf" aria-hidden="true"></i></a>
		<a aria-label="My Maven Libraries" target="_blank" href="{{ site.maven_url }}"><i class="fa fa-feather-alt"></i></a>
		<a aria-label="My Google Play Store Profile" target="_blank" href="{{ site.google_play_store_url }}"><i class="icon fa fa-android" aria-hidden="true"></i></a>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
